.form-box {
// padding: 5px;
overflow: hidden;
border-radius: 2px;
// background-color: #ffffff;
background-position: center;
}

.btn-group {
  display: flex;
}

#train-form, #flight-form, #hotel-form{
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 1rem 2rem #0035661a;
  border-radius: .25rem;
}


