.form-box {
border-radius: 2px;
border-top-left-radius: 0;
background-position: center;

}

.btn-group {
  display: flex;
}

#train-form, #flight-form, #hotel-form{
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 1rem 2rem #0035661a;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}


