
.main-tab {
 display: inline-block; 
 background-color: #f0f3f5;
}

.main-tab .btn i {
 margin-right: 5px;
}

.main-tab .btn {
 font-size: 16px;
 vertical-align: middle;
 padding: 15px 40px;
 border: none;
 background-color: #ffffff1a;
 color: dimgray;
 border-top-left-radius: 0.25rem;
 border-top-left-radius: 0.25rem;
 border-bottom-right-radius: 0;
 border-bottom-left-radius: 0;
}

/* Style for the checked button */
.main-tab .btn-check:checked + .btn.btn-outline-primary {
 background-color: #ffffff;
 color: #1513A0;
}