<!DOCTYPE html>
<html>
  <head>
    <title>Ayan Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand p-0 me-2" href="#">        
          <%= image_tag('logo.png', width: 45, height:40) %>
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
        <!-- Language switcher -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-globe"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to image_tag('en.png', width: "20px"), url_for(locale: "en") %>
          <%= link_to image_tag('mn.png', width: "20px"), url_for(locale: "mn") %>
        </div>
      </div>

      <%# <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item active" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div> %>
    </nav>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-7">
          <h1 class="display-4">Zero effort travels to China!</h1>
          <%= t('hello') %>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis nisi id malesuada convallis. Duis sodales, neque vitae rhoncus semper, quam nisi aliquet massa, a malesuada turpis eros vel purus. Sed fermentum eros in tincidunt eleifend. Sed id massa ut nisl malesuada vulputate.</p>
        </div>
        <div class="col-md-5">
          <img src="https://via.placeholder.com/500x500" class="img-fluid rounded">
        </div>
      </div>
      <hr>
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Beijing">
            <div class="card-body">
              <h5 class="card-title">Beijing</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis nisi id malesuada convallis. Duis sodales, neque vitae rhoncus semper, quam nisi aliquet massa, a malesuada turpis eros vel purus. Sed fermentum eros in tincidunt eleifend. Sed id massa ut nisl malesuada vulputate.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Shanghai">
            <div class="card-body">
              <h5 class="card-title">Shanghai</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis nisi id malesuada convallis. Duis sodales, neque vitae rhoncus semper, quam nisi aliquet massa, a malesuada turpis eros vel purus. Sed fermentum eros in tincidunt eleifend. Sed id massa ut nisl malesuada vulputate.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Guangzhou">
            <div class="card-body">
              <h5 class="card-title">Guangzhou</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis nisi id malesuada convallis. Duis sodales, neque vitae rhoncus semper, quam nisi aliquet massa, a malesuada turpis eros vel purus. Sed fermentum eros in tincidunt eleifend. Sed id massa ut nisl malesuada vulputate.</p>
            </div>
          </div>
        </div>
    </div>

    <%# <script>
      var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
      var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
        return new bootstrap.Dropdown(dropdownToggleEl)
      })
    </script> %>

    </body>
</html>
