<html>
  <head>
  </head>
  <body>
    <div class="container">
      <div class="bg-image">
      <div class="form-box options" data-controller="options">
        <%# <ul id="booking-option" class="list-unstyled d-flex align-items-center" >
          <li  data-action="click->options#toggle" data-option="train">Train</li>
          <li  data-action="click->options#toggle" data-option="flight">Flight</li>
          <li  data-action="click->options#toggle" data-option="hotel">Hotel</li>
        </ul> %>

        <div class="btn-group" role="group" id="booking-option">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" data-action="click->options#toggle" data-option="train">
          <label class="btn btn-outline-primary" for="btnradio1">Train</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" data-action="click->options#toggle" data-option="flight">
          <label class="btn btn-outline-primary" for="btnradio2">Flight</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" data-action="click->options#toggle" data-option="hotel">
          <label class="btn btn-outline-primary" for="btnradio3">Hotel</label>
        </div>       

          <div id="train-form" data-options-target="train">
            <p> this is train form </p>
            <%= render 'shared/form', locals: { travel_type: "train", travel_preference: @travel_preference } %>
          </div>
          <div id="flight-form" data-options-target="flight" style="display: none;">
            <p> this is flight form </p>
            <%= render partial: 'shared/form', locals: {travel_type: "flight", travel_preference: @travel_preference }%>
          </div>
          <div id="hotel-form" data-options-target="hotel" style="display: none;">
            <p> this is hotel form </p>
            <%= render partial: 'shared/form', locals: { travel_type: "hotel", travel_preference: @travel_preference } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>